<div id="cart-container">
  <mat-toolbar id="cart-title">
    <span>Shopping Cart</span>
    <span class="spacer"></span>
    <mat-card-actions>
      <span>Total: &#x20B9; {{ priceSummary.total }}</span>
      <button mat-raised-button color="accent" (click)="checkoutOrder()" *ngIf="priceSummary.total > 0">Checkout</button>
    </mat-card-actions>
  </mat-toolbar>
  <div id="cart-page">
    <table mat-table id="cart-table" [dataSource]="cart??[]">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="first">Image</th>
        <td mat-cell *matCellDef="let item"><img class="product-image" [src]="item.image" alt="Product Image"></td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="third">Product</th>
        <td mat-cell *matCellDef="let item">{{ item.title }}</td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="second">Qty</th>
        <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="fourth">Price</th>
        <td mat-cell *matCellDef="let item">&#x20B9; {{ item.price }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="fifth">&nbsp;</th>
        <td mat-cell *matCellDef="let item" (click)="removeFromCart(item.productId)">
          <a href="#" class="remove-link">
            <span class="remove-text">Delete</span>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
